PAYSTACK_SECRET_KEY=

PAYSTACK_PUBLIC_KEY=

SECRET_KEY=
DEBUG = True
REDIS_URL=
GROQ_API_KEY=


POSTGRES_PORT=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_USER=

#for localhost
POSTGRES_HOST=


EMAIL_PASSWORD=your_password
EMAIL_HOST=your_email


GOALSAVE_BACKEND_URL=http://127.0.0.1:8000

CELERY_BROKER_URL =redis_url
